@model WAWA.Models.equipo

@{
    ViewBag.Title = "DetallesDisponibles";
}

<h2>Detalles</h2>

<div>
    <h4>equipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.detalles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detalles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.precio) MXN
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.foto)" width="400" />
        </dd>
        <br />
        <dt>Pagar ahora</dt>
        <dd>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="XUNQUXRX2XN3Q">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
            </form>

        </dd>
    </dl>
</div>
<br />
<h3>Síguenos en Facebook</h3>
<p>Regálanos un 'Me Gusta' y compártenos</p>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v13.0" nonce="QHP16kGl"></script>
<div class="fb-like" data-href="https://www.facebook.com/CompuJuarezOficial/" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
<br />
<p>
    @Html.ActionLink("<- Regresar", "Disponibles")
</p>
