@model IEnumerable<WAWA.Models.equipo>

@{
    ViewBag.Title = "Index";
}

<h2>Equipos // Artículos disponibles</h2><br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.detalles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foto)
        </th>
        <th>Detalles</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.detalles)
            </td>
            <td>
                <p>$@Html.DisplayFor(modelItem => item.precio) MXN</p>
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.foto)" width="170" />
            </td>
            <td>
                <p>
                    @Html.ActionLink("Ver más", "DetallesDisponibles", new { id = item.idEquipo })
                </p>
            <br />
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="XUNQUXRX2XN3Q">
                <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
            </form>
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("<- Volver a Inicio", "Index", "Home")
</div>
