@model IEnumerable<WAWA.Models.equipo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar equipo", "Guardar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.detalles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.detalles)
        </td>
        <td>
            <p>$@Html.DisplayFor(modelItem => item.precio) MXN</p>
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.foto)" width="170" />
        </td>
        <td>
            @Html.ActionLink("Editar", "Modificar", new { id=item.idEquipo }) |
            @Html.ActionLink("Ver más", "Detalles", new { id=item.idEquipo }) |
            @Html.ActionLink("Borrar", "Eliminar", new { id=item.idEquipo })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("<- Volver a Inicio", "Index", "Home")
</div>
